global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /
  user root
  group root

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:80
  default_backend nginx

backend nginx
  server nginx nginx:80
